body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.name {
  font-size: 14pt;
  margin-bottom: 5px;
}

.address {
  font-style: italic;
  margin-bottom: 10px;
}

.section {
  margin-top: 10px;
  margin-bottom: 5px;
}

.subsection {
  margin-left: 15px;
}

ul {
  padding-left: 15px;
}

li {
  margin-bottom: 5px;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.horizontal-rule {
  border-top: 1px solid black;
  margin-bottom: 10px;
}

.horizontal-rule a {
  border-top: 0.1px solid black;
  margin-bottom: 10px;
  opacity: 0.5;
}
.name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Adjust as needed */
}

.address {
  text-align: left;
}

.address a {
  text-decoration: none;
  color: #007bff;
}

.address a:hover {
  text-decoration: underline;
}

.subsection {
  margin-left: 15px;
  position: relative;
}

.date {
  position: absolute;
  top: 0;
  right: 0;
  font-style: italic;
}

.subsection b {
  font-weight: bold;
}

.icon {
  width: 20px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 10px; /* Adjust the margin to control the space between the text and the icon */
}

.header {
  display: flex;
  justify-content: space-between;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
}